<!--Main layout-->
<main *ngIf="enableDashboard">
    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- Left Sidebar -->
                <div class="col-sm-6 col-md-2 left-nav">

                    <div id="scrollspy" class="sticky" style="position: fixed;  z-index: 2; width:14%">
                        <ul class="nav nav-pills smooth-scroll flex-column">
                            <li>
                                <ul class="collapsible collapsible-accordion">
                                    <li class=""><a class="collapsible-header waves-effectX arrow-r">Program</a>
                                    </li>
                                    <li class=""><a
                                            class="collapsible-header waves-effectX arrow-r disabled">Customer</a>
                                        <div class="collapsible-body" style="display: none;">
                                            <ul class="sub-menu">
                                                <li class="nav-item"><a class="nav-link" href="#bankDetails">Bank
                                                        Details</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#EnityDetails">Entity
                                                        Details</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#PointofCont">Point of
                                                        Contact</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#GenPref">General
                                                        Preferences</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#UploadPref">Upload
                                                        Preferences</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#Users">Users</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#EntityLimit">Entity
                                                        Limits</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#DiscDef">Discounting
                                                        Definition</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#AccountDetails">Account
                                                        Setup</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#AdvDetails">Advanced
                                                        Details</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#EditObligors">Edit
                                                        Obligors</a></li>
                                                <li class="nav-item"><a class="nav-link"
                                                        href="#Notifications">Notifications</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#JobScheduler">Job
                                                        Scheduler</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#Comments">Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class=""><a
                                            class="collapsible-header waves-effectX arrow-r disabled">Counterparty</a>
                                        <div class="collapsible-body" style="display: none;">
                                            <ul class="sub-menu">
                                                <li class="nav-item"><a class="nav-link" href="#EditObligors">Edit
                                                        Obligors</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <!-- <li><a class="collapsible-header waves-effectX arrow-r disabled"><i
                                                class="fa fa-angle-down rotate-icon rotate-element"></i>Link</a>
                                        <div class="collapsible-body" style="display: none;">
                                            <ul class="sub-menu">
                                                <li class="nav-item"><a class="nav-link" href="#">Link 1</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#">Link 2</a></li>
                                            </ul>
                                        </div>
                                    </li> -->

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="width: 250px; height: 400px;" class="sticky-placeholder"></div>
                </div>
                <!--/. Left Sidebar -->


                <!--Main column-->
                <div class="col-sm-6 col-lg-9 col-md-8" style="min-height: 82vh;margin-top: 2.33333rem;">
                    <div class="documentation pt-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <h2 class="primary-heading  d-inline-block">
                                    <strong>PROGRAM</strong></h2>
                            </div>
                        </div>

                        <!-- program details -->
                        <div class="card" id="Users">
                            <div class="card-header">
                                <h4 class="card-title d-inline-block">Create Program</h4>
                                <div class="float-right d-inline text-uppercase pt-2">
                                    <a *ngIf="isProgramActiveApproveDiv" (click)="rejectProgramDashbord()"
                                        class="link-primary">
                                        {{ 'btn_reject' | translate }}</a>

                                    <a *ngIf="!isProgramActiveApproveDiv"
                                        class="link-secondary">{{ 'btn_reject' | translate }}</a>
                                    <span class="link-sep">|</span>

                                    <a *ngIf="isProgramActiveApproveDiv" (click)="approveProgramDashbord()"
                                        class="link-primary">
                                        {{ 'btn_approve' | translate }}</a>
                                    <a *ngIf="!isProgramActiveApproveDiv"
                                        class="link-secondary">{{ 'btn_approve' | translate }}</a>

                                    <span class="link-sep">|</span>
                                    <a *ngIf="isProgramActiveDiv" (click)="saveProgramDashbord()"
                                        class="link-primary">{{ 'btn_save' | translate }}
                                    </a>
                                    <a *ngIf="!isProgramActiveDiv" class="link-secondary">{{ 'btn_save' | translate }}
                                    </a>

                                    &nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="card-body py-2">
                                <div class="row pb-2">
                                    <div class="col-7">&nbsp;</div>
                                    <div class="col-3 float-right" style="padding-left: 5.5rem">
                                        <form class="form-inline ng-untouched ng-pristine ng-valid" novalidate="">
                                            <!-- <input class="form-control mr-1 w-80 dropdown-toggle" type="text"
                                                placeholder="Org ID" aria-label="Search" data-toggle="dropdown"
                                                (keyup)="searchOrgId(ordId.value)" #ordId><i class="fa fa-search active"
                                                id="orgId" aria-hidden="true" (click)="changeComponent(ordId.value)"
                                                style="cursor: pointer"></i>
                                            <div class="dropdown-menu custom_dropdown"
                                                aria-labelledby="dropdownMenuButton">
                                                <div *ngIf="orgIDValueList?.length">
                                                    <ng-template ngFor let-data [ngForOf]="orgIDValueList">
                                                        <a class="dropdown-item w-80"
                                                            (click)="changeComponent(data)">{{data}}</a>
                                                    </ng-template>
                                                </div>
                                                <div *ngIf="!orgIDValueList?.length && !noDataFound">
                                                    <span class="dropdown-item w-80">loading...</span>
                                                </div>
                                                <div *ngIf="!orgIDValueList?.length && noDataFound">
                                                    <span class="dropdown-item w-80">No data found</span>
                                                </div>
                                            </div> -->

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Org ID" aria-label="Org ID" id="orgId"
                                                    class="mr-1 w-80" [matAutocomplete]="auto"
                                                    (keyup)="searchOrgId(ordId.value)" #ordId>
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <div *ngIf="orgIDValueList?.length">
                                                        <mat-option *ngFor="let data of orgIDValueList">
                                                            <a (click)="changeComponent(data)">{{data}}</a>
                                                        </mat-option>
                                                    </div>
                                                    <div *ngIf="!orgIDValueList?.length && !noDataFound">
                                                        <mat-option> <span>loading...</span></mat-option>
                                                    </div>
                                                    <div *ngIf="!orgIDValueList?.length && noDataFound">
                                                        <mat-option> <span>Organization ID does not exists.</span>
                                                        </mat-option>
                                                    </div>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                            <div
                                                [ngClass]="(!orgIDValueList?.length && noDataFound)?'disableSearch':''">
                                                <i class="fa fa-search active" aria-hidden="true"
                                                    (click)="changeComponent(ordId.value)"
                                                    style="cursor: pointer;margin-left: 1rem;"></i></div>
                                        </form>

                                    </div>
                                    <div class="float-right col-2 pt-2" style="padding-left: 5.5rem;margin-top: 14px;">
                                        <div *ngIf="isProgramActiveDiv">
                                            <a class="link-primary" (click)="onAddRow()">
                                                {{'btn_create' | translate}}</a> | <a class="link-primary"
                                                (click)="deleteProgramDashbord()"> {{'btn_delete' | translate}}</a>| <a class="link-primary"
                                                (click)="fetchProgramData()"> refresh</a>
                                        </div>
                                        <div *ngIf="!isProgramActiveDiv">
                                            <a class="link-secondary"> {{'btn_create' | translate}}</a> | <a
                                                class="link-secondary"> {{'btn_delete' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ag-grid-angular style="width: 100%; height: 172px;" class="ag-theme-balham"
                                        (gridReady)="onGridReady($event)" [columnDefs]="columnDefs" [rowData]="rowData"
                                        [rowSelection]="rowSelection" [animateRows]="true"
                                        [frameworkComponents]="frameworkComponents" 
                                        [defaultColDef]="defaultColDef" (selectionChanged)="onSelectionChanged($event)"
                                        [enableRangeSelection]="true" (cellValueChanged)="onCellValueChanged($event)"
                                        (cellFocused)="onCellFocused($event)">
                                    </ag-grid-angular>
                                </div>
                                

                                <div class="row">
                                    <div class="col-sm-5">

                                        <!-- <div [hidden]="!isProgramActiveDiv">
                                                    <a class="link-secondarylt">
                                                        {{ 'btn_addRow' | translate }}
                                                    </a>
                                                    <a class="link-secondarylt" >
                                                        {{ 'btn_removeRow' | translate }}
                                                    </a>
                                                  </div>
                                                  <div [hidden]="isProgramActiveDiv">
                                                    <a (click)="onAddRow()">
                                                        {{ 'btn_addRow' | translate }}
                                                    </a>
                                                    <a (click)="onRemoveSelected()">
                                                        {{ 'btn_removeRow' | translate }}
                                                    </a>
                                                  </div> -->


                                    </div>
                                    <div class="col-sm-7">
                                        <div style="text-align: right">
                                            Export to:
                                            <a id='exporttoexcel' class="link-primary" title="EXCEL"
                                                (click)="onBtExportExcel()"><i class="fa fa-lg fa-file-excel-o"
                                                    aria-hidden="true"></i></a>
                                            <span class="link-sep">|</span>
                                            <a id='exporttocsv' class="link-primary" title="CSV"
                                                (click)="onBtExportCSV()"><i class="fa fa-lg fa-file"
                                                    aria-hidden="true"></i></a>
                                            <span class="link-sep">|</span>
                                            <a id='exporttocsv' class="red-text" title="PDF"
                                                (click)="onBtExportCSV()"><i class="fa fa-lg fa-file-pdf-o"
                                                    aria-hidden="true"></i></a>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                        <!-- program details -->
                    </div>
                    <!--/.Documentation file-->
                    <!-- <app-customer-detail [program]="selectedProgramValue" [programTypeUrlParam]="programTypeUrlParam"
                        *ngIf="showCustomerDetail$ | async" (enableDashboardEvent)="enableDashboardChild($event)">
                    </app-customer-detail>
                    <app-counter-party [programName]="selectedProgramValue"></app-counter-party> -->
                </div>
                <!--/.Main column-->

            </div>
        </div>
    </div>
</main>